[Desktop Entry]
Categories=Settings;System;Qt;Network;
OnlyShowIn=LXQt;
Comment=QT GUI frontend for connman
Exec=cmst
GenericName=Network Configuration
Icon=cmst
Name=Connman UI Setup
Name[ro]=Configurare retea                                                                                                            
StartupNotify=false                                                                                                                   
Terminal=false                                                                                                                        
Type=Application                                                                                                                      
Version=1.0                                                                                                                           
X-GNOME-Autostart-enabled=true                                                                                                        
X-LXQt-Need-Tray=true