[Desktop Entry]
Encoding=UTF-8
Icon=redcore-weblink
Type=Link
URL=https://web.libera.chat/?nick=redcoreguest???&channel=#redcorelinux
Name=Ask for help
